@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;300;400;500;600;700;800;900&family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
	margin: 0px;
	padding:0px;
}
html{
	width:100%;
	font-family: 'Kalam', cursive;
	color:#fff;
	text-align: justify;
}
body::-webkit-scrollbar{
	width: 0.9rem;
}
body::-webkit-scrollbar-thumb{
	background:#000;
	border-radius:15px;
}
body::-webkit-scrollbar{
	background:linear-gradient(to top, #95FC0F, #000);	
}
header{
	height: 900px;
	background-image:url("../img/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}
.background{
	width:100%;
	background:linear-gradient(-60deg , #1f302e, #55574e, #232230, #748224);
	background-size:400% 400%;
	animation:change 10s ease-in-out infinite;
	position:static;
}
@keyframes change{
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}
.nav2{
	width:100%;
	height:180px;
	background-color: rgba(0,0,0, 0.5);
}
.nav2 p{
	font-size:13px;
	position:absolute;
	left:15%;
	color:#7a786e;
}
nav{
	width:100%;
	text-align:center;
	background-color: rgba(0,0,0, 0.5);
	position: -webkit-sticky;
	position: sticky;
	top:0px;
	padding:10px 0px;
}
nav a{
	list-style-type:none;
	color:#fff;
	font-size:32px;
	text-decoration:none;
	padding:0px 20px;
}
nav a:hover {
	color:#95FC0F;
}
.logo{
	width:210px;
	background-size: cover;
	padding:40px;
	margin-left:auto;
	margin-right:auto;
}
#naslov{
	color:#ffffff;
	font-size:38px;
	position:absolute;
	top:63%;
	left:38%;
}
#naslov h1{
	font-weight:bold;
	letter-spacing: 10px;
	position: relative;
	animation: mymovee 3s forwards;
}
@keyframes mymovee{
 from {left: 300px;}
 to {left: 0px;}
}
.main{
	margin-bottom:50px;
	width:100%;
}
section{
	display:flex;
	width:90%;
	height:300px;
	margin:100px auto;
	border-radius:3%;
}
article{
	width:30%;
	float:left;
	height:300;
	margin-left:35px;
	transition: width 2s, height 4s;
}
ficaption p{
	text-decoration:none;
	display:block;
	margin-top:20px;
	text-align:center;
	font-size:22px;
	font-weight:bold;
	padding:2px;
	background-color: rgba(0, 0, 0, 0.2);
	border:2px solid #fff;
	border-right:3px solid #000;
	border-bottom:3px solid #000;
}
ficaption a{
	color:#95FC0F;
	text-decoration:none;
}
ficaption p:hover{
	background-color: rgba(0, 0, 0, 0.7);
}
ficaption a:hover{
	color:#fff;
}
.img{
	width:100%;
	height:300px;
	border-radius:5%;
	transition:1000ms ease-out;
	border-right:6px solid #000;
	border-bottom:6px solid #000;
}
.img:hover{
	color: #f2f2f2;
	transform:translateY(3%);
}
.oautoru{
	height:550px;
}
.box{
	margin:0px auto;
	padding:50px;
	width:80%;
	border-radius:2%;
	background-color:rgba(0, 0, 0, 0.85);
	box-shadow:0 0 0px , 0 0 10px #97e30b, 0 0 30px #1c1414;
}
.box ul{
	margin:50px;
	margin-top:0px;
}
.box ul li{
	padding:5px;
	font-size:20px;
}
.margin{
	margin:200px auto;
}
.box h1{
	text-align:center;
	color:#fff;
	font-size:35px;
	padding:10px 0 10px 0;
}
.box p{
	font-size:23px;
	margin:10px 25px 10px 25px;
	padding:15px;
}
.box h2{
	color:#95FC0F;
	text-align:center;
	font-size:42px;	
}
.box1{
	padding-bottom:50px;
	background-color:rgba(0,0,0, 0.95);
	width:100%;
}
.box3 img{
	margin:20px;
	border-radius:3%;
	padding:2px;
	border:1px solid #95FC0F;
}
.box3 h3{
	font-size:30px;
	margin:5px 10px;
	padding:10px;
	font-style: italic;
	color:#95FC0F;
}
.main2{
	background-image:url("../img/biceps.jpg");
	background-repeat: no-repeat;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	 background-position: center;
}
.padding{
	padding-top:50px;
}
.tabela{
	padding:10px;
	font-size:23px;
	margin-bottom:50px;
	margin-top:50px;
}
.tabela tbody tr td:nth-child(2n+1){
	border:2px outset #c2c2c2;
		padding:8px;
}
.tabela tbody tr td:nth-child(2n+0){
	border:2px outset #95FC0F;
		padding:8px;
}
.tabela caption{
	color:#95FC0F;
	padding:15px;
	font-size:45px;
	text-align:center;
}
.tabela thead tr th{
	padding:10px;
	font-size:30px;
	text-align:center;
}
footer{
	width:100%;
	background-color:rgba(0,0,0, 0.9);
}
.fut1{
	float:left;
	color:#ffffff;
	margin:30px 100px;
	margin-bottom:30px;
}
.fut2{
	width:100%;
	background-color:rgba(0,0,0, 0.3);
}
.desno{
	float:right;
}
.fut2 h4{
	font-size:18px;
	color:#ffffff;
	height:30px;
	padding:5px 0 5px 0;
	text-align:center;
}
.navL{
	width:21%;
	float: left;
	padding:10px;
}
.navL ul {
	list-style-type: none;
}
.navL ul li{
	list-style-type: none;
	padding:20px 0px;
}
.navL li a {
	background-color:#000000; 
	display: block;
	color:#95FC0F;
	padding: 12px 13px;
	text-decoration: none;
	font-size:20px;
	border-bottom:2px outset #95FC0F;
	border-right:2px outset #95FC0F;
}
.navL li a:hover{
	color:#95FC0F;
	background:#1c1414;
	box-shadow:0 0 8px #1c1414, 0 0 20px #97e30b, 0 0 30px #1c1414;
	transition-delay: 0.3s;
}
.pozicija1{
	position: -webkit-sticky;
	position: sticky;
	top: 70px;
}
li a.active {
	color:#95FC0F;
	border:2px outset #95FC0F;
	background-color:#1c1414; 
	box-shadow:0 0 10px #1c1414, 0 0 40px #97e30b, 0 0 80px #1c1414;
}
.navD{
	width:77%;
	margin-top:40px;
	float:right;
	margin-bottom:40px;
	border-left:4px solid transparent;
	border-image:linear-gradient(0deg, #ff0, #000);
	border-image-slice:1;
}
.navD h1{
	margin:0px 10px 20px 30px;
	color:#95FC0F;
	font-size:42px;
	font-weight:bold;
}
.navD h2{
	margin:30px;
	font-size:36px;
	font-weight:bold;
	color:#95FC0F;
}
.navD h3{
	margin:30px;
	font-size:30px;
	font-weight:bold;
	color:#95FC0F;
}
.navD p{
	margin:30px;
	font-size:22px;
}
.navD hr{
	border:3px solid rgba(194,194,194,0.5);
	margin-left:30px;
	margin-right:30px;
}
.navD ul li{
	list-style-type: circle;
    margin-left:50px;
	margin-bottom:8px;
	font-size:18px;
}
.cleaner{
	clear : both;
}
span{
	font-weight:bold;
}
.pozadina{
	background-image:url("../img/slika3.jpg");
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	position: static;
}
.fut1 h2{
	margin-bottom:20px;
	font-size:26px;
	font-weight:bold;
}
.fut1 h4{
	text-align:left;
	font-size:26px;
	font-weight:bold;
	margin-bottom:70px;
}
.fut1 p{
	font-size:22px;
	padding-top:15px;
	margin-bottom:20px;
}
aside{
	font-size:22px;
	background-color:rgba(0, 0, 0, 0.2);
	font-family: 'Nunito Sans', sans-serif;
	padding:5px;
}
aside a{
	text-decoration:none;
	color:#fff;
}
@keyframes mymove2 {
  from {left: -800px;}
  to {left: 400px;}
}
aside a,.fa-virus,.fa-arrow-right,.fa-arrow-left{
	position: relative;
	animation-name:mymove2;
	animation-duration:3s;
	animation-fill-mode: both;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}
@keyframes mymove1 {
  from {right: 0px;}
  to {right: 300px;}
}
.img2{
	width:33%;
	height:500px;
}
#dm p a{
	color:#fff;
}
.stillabel{
	padding:3px;
	font-size:22px;
}
.stil{
	color:#95FC0F;
	margin-right:5px;
	font-size:22px;
}
#vel{
	width:400px;
	font-size:20px;
	margin-top:15px;
	height:80px;
	color:#fff;
	padding:10px;
	border-radius:5%;
	background:#31332c;
	box-shadow:0 0 2px #97e30b, 0 0 2px #97e30b, 0 0 10px #97e30b;
	transition-delay: 0.1s;
}
#message{
	width:300px;
	font-size:20px;
	margin-top:15px;
	margin-left:15px;
	height:80px;
	padding:10px;
	border-radius:5%;
	background:#31332c;
	box-shadow:0 0 2px #97e30b, 0 0 2px #97e30b, 0 0 10px #97e30b;
	transition-delay: 0.1s;
	color:#fff;
}
input[type="text"],input[type="email"]{
	width:400px;
	padding:10px;
	font-size:20px;
	color:#fff;
	margin-top:15px;
	border-radius:5%;
	background:#31332c;
	box-shadow:0 0 2px #97e30b, 0 0 2px #97e30b, 0 0 10px #97e30b;
	transition-delay: 0.1s;
}
input[type="submit"]{
	width:140px;
	font-size:20px;
	margin-top:20px;
	padding:10px;
	background:#31332c;
	box-shadow:0 0 2px #97e30b, 0 0 10px #97e30b, 0 0 20px #97e30b;
	transition-delay: 0.1s;
	border-radius:5%;
}
input[type="submit"]:hover{
	color:#95FC0F;
}
table{
	margin:0px auto;
}
.center{
	text-align:center;
	padding:10px;
}
table td{
	text-align:left;
}
#tbip,#tbPred,#tE,#tT{
	width:200px;
	margin-left:15px;
	margin-top:10px;
	position:right;
	padding:5px;
	font-size:20px;
}
#tbip:focus,#tbPred:focus,#tE:focus,#tT:focus,#message:focus{
	 border: 3px solid #95FC0F;
}
.rss,.sitemap{
	margin-top:10px;
	margin-right:15px;
	font-size:30px;
	color:#95FC0F;
}
.pretraga{
	position:absolute;
	top:14%;
	left:80%;
	transform: translate(-50%,-50%);
	background:#2f3640;
	height:40px;
	border-radius:40px;
	padding:6px;	
	justify-content:center;
	align-items:center;
}
.pretraga-btn{
	color:#95FC0F;
	float:right;
	width:40px;
	height:40px;
	border-radius:50%;
	background:#2f3640;
	display:flex;
	justify-content:center;
	align-items:center;
}
.pretraga:hover > #pretraga-txt{
	width:100px;
	padding:0 4px;
}
.pretraga:hover > .pretraga-btn{
	background:#95FC0F;
	color:black;
}
#pretraga-txt{
	border:none;
	background:none;
	outline:none;
	float:left;
	padding:0px;
	color:white;
	font-size:16px;
	transition:0.4s;
	line-height:40px;
	width:0px;
	box-shadow:none;
	margin:0;
}
.strelica{
	position:absolute;
	top:14%;
	left:20%;
	transform: translate(-50%,-50%);
	background:#2f3640;
	height:40px;
	border-radius:40px;
	padding:6px;	
	justify-content:center;
	align-items:center;
}
.strelica a{
	text-decoration:none;
}
.strelica:hover{
	color:#2f3640;
	background-color:#95FC0F;
}
.fa-arrow-down{
	width:40px;
	font-size:16px;
	transition:0.4s;
	line-height:40px;
	color:#95FC0F;
	border-radius:50%;
	background:#2f3640;
	display:flex;
	justify-content:center;
	align-items:center;
}
.br{
	border:1px dotted #7a786e;
	width:70%;
	position:absolute;
	top:20px;
	left:15%;
}
.section{
	border-radius:5%;
	color:#fff;
	position:flex;
	width:50%;
	padding:20px;
	margin:100px 200px;
	background-color:rgba(0, 0, 0, 0.8);
	font-size:20px;
	font-family: 'Nunito Sans', sans-serif;
}
.section a{
	color:#fff;
}

.fa-arrow-right,.fa-arrow-left,.fa-virus{
	padding:5px;
	color:#b53d35;
}

.fa-instagram,.fa-facebook,.fa-twitter{
	font-size:28px;	
}



